{% from 'form.html' import render_form %}

<div>
	<legend>YubiAdmin Server</legend>
	<span class="help-block">
		For any changes to the settings below to take place, the server will need to be restarted.<br /><br />
		<span class="label label-warning">WARNING</span> <strong>These settings may change the way you access the server, it is possible to lock yourself out!</strong>
	</span>
	<br />
	<form action="restart" method="post">
		<button class="btn btn-danger">Restart server</button>
	</form>
</div>

{{ render_form(fieldsets, target) }}
