{% macro render_section(sect) %}
<li {% if sect.active %}class="active"{% endif %}>
	<a href="/{{ name }}/{{ sect.name }}">{{ sect.title }}</a>
</li>
{% endmacro %}

<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
			{% for sect in sections if not sect.advanced %}
				{{ render_section(sect) }}
			{% endfor %}
		</ul>
		<ul class="nav pull-right">
			{% for sect in sections if sect.advanced %}
				{{ render_section(sect) }}
			{% endfor %}
		</ul>
	</div>
</div>

{% for alert in alerts %}
	<div class="alert alert-{{ alert.type }}">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>{{ alert.title }}</strong>
		<span class="message">{{ alert.message }}</span>
	</div>
{% endfor %}

{{ page }}
