{% extends "content.html" %}

{% macro render_section(sect) %}
<li {% if sect.name == section.name %}class="active"{% endif %}>
	<a href="/{{ module.name }}/{{ sect.name }}">{{ sect.title }}</a>
</li>
{% endmacro %}

{% block content %}
<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
			{% for sect in module.sections if not sect.advanced %}
				{{ render_section(sect) }}
			{% endfor %}
		</ul>
		<ul class="nav pull-right">
			{% for sect in module.sections if sect.advanced %}
				{{ render_section(sect) }}
			{% endfor %}
		</ul>
	</div>
</div>

{% for alert in alerts %}
	<div class="alert alert-{{ alert.type }}">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>{{ alert.title }}</strong>
		<span class="message">{{ alert.message }}</span>
	</div>
{% endfor %}

{{ page }}
{% endblock %}
